In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('darkgrid')

In [2]:
path = '../../data/2020/05-28-2020.csv'

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-29 02:32:50,34.223334,-82.461707,37,0,0,37,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-29 02:32:50,30.295065,-92.414197,401,22,0,379,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-29 02:32:50,37.767072,-75.632346,807,12,0,795,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-29 02:32:50,43.452658,-116.241552,803,22,0,781,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-29 02:32:50,41.330756,-94.471059,8,0,0,8,"Adair, Iowa, US"

In [6]:
df.drop(['FIPS', 'Admin2', 'Province_State', 'Last_Update'], axis=1, inplace=True)

In [7]:
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,US,34.223334,-82.461707,37,0,0,37,"Abbeville, South Carolina, US"
1,US,30.295065,-92.414197,401,22,0,379,"Acadia, Louisiana, US"
2,US,37.767072,-75.632346,807,12,0,795,"Accomack, Virginia, US"
3,US,43.452658,-116.241552,803,22,0,781,"Ada, Idaho, US"
4,US,41.330756,-94.471059,8,0,0,8,"Adair, Iowa, US"

In [8]:
df.rename(columns={'Country_Region': 'Country'}, inplace=True)

In [9]:
df.drop(['Lat', 'Long_'], axis=1, inplace=True)

In [10]:
df.head(10)

  Country  Confirmed  Deaths  Recovered  Active                   Combined_Key
0      US         37       0          0      37  Abbeville, South Carolina, US
1      US        401      22          0     379          Acadia, Louisiana, US
2      US        807      12          0     795         Accomack, Virginia, US
3      US        803      22          0     781                 Ada, Idaho, US
4      US          8       0          0       8                Adair, Iowa, US
5      US         96      19          0      77            Adair, Kentucky, US
6      US         49       0          0      49            Adair, Missouri, US
7      US         84       3          0      81            Adair, Oklahoma, US
8      US       3070     118          0    2952            Adams, Colorado, US
9      US          3       0          0       3               Adams, Idaho, US

In [11]:
df.sort_values(by='Confirmed', ascending=False).head(10)

,Country,Confirmed,Deaths,Recovered,Active,Combined_Key
3474,Russia,379051,4142,150993,223916,Russia
3511,United Kingdom,269127,37837,0,231290,United Kingdom
1943,US,201051,21415,0,179636,"New York City, New York, US"
3402,France,185300,28612,65098,89600,France
3418,India,165386,4711,70920,89755,India
3507,Turkey,160979,4461,124369,32149,Turkey
3420,Iran,143849,7627,112988,23234,Iran
3280,Brazil,95865,6980,0,88885,"Sao Paulo, Brazil"
3173,Italy,88183,15974,49296,22913,"Lombardia, Italy"
3172,Peru,87478,9240,0,86005,"Lima, Peru"

In [12]:
df[df.Country == 'Canada'].sort_values(by='Confirmed', ascending=False).head(10)

,Country,Confirmed,Deaths,Recovered,Active,Combined_Key
3253,Canada,49954,5038,15618,29790,"Quebec, Canada"
3232,Canada,28320,2292,20781,5247,"Ontario, Canada"
3023,Canada,6955,143,6160,652,"Alberta, Canada"
3064,Canada,2558,164,2153,241,"British Columbia, Canada"
3223,Canada,1055,59,977,19,"Nova Scotia, Canada"
3282,Canada,639,10,568,61,"Saskatchewan, Canada"
3182,Canada,294,7,273,14,"Manitoba, Canada"
3214,Canada,261,3,255,3,"Newfoundland and Labrador, Canada"
3211,Canada,126,0,120,6,"New Brunswick, Canada"
3246,Canada,27,0,27,0,"Prince Edward Island, Canada"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3544 entries, 0 to 3543
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       3544 non-null   object
 1   Confirmed     3544 non-null   int64
 2   Deaths        3544 non-null   int64
 3   Recovered     3544 non-null   int64
 4   Active        3544 non-null   int64
 5   Combined_Key  3544 non-null   object
dtypes: int64(4), object(2)
memory usage: 166.2+ KB

In [14]:
df.isnull().sum()

Country         0
Confirmed       0
Deaths          0
Recovered       0
Active          0
Combined_Key    0
dtype: int64

In [19]:
df[df.Country == 'Canada'].sort_values(by='Deaths', ascending=False).head(10)

,Country,Confirmed,Deaths,Recovered,Active,Combined_Key
3253,Canada,49954,5038,15618,29790,"Quebec, Canada"
3232,Canada,28320,2292,20781,5247,"Ontario, Canada"
3064,Canada,2558,164,2153,241,"British Columbia, Canada"
3023,Canada,6955,143,6160,652,"Alberta, Canada"
3223,Canada,1055,59,977,19,"Nova Scotia, Canada"
3282,Canada,639,10,568,61,"Saskatchewan, Canada"
3182,Canada,294,7,273,14,"Manitoba, Canada"
3214,Canada,261,3,255,3,"Newfoundland and Labrador, Canada"
3100,Canada,1,1,0,0,"Diamond Princess, Canada"
3122,Canada,13,0,13,0,"Grand Princess, Canada"

In [17]:
df[df.Country == 'US'].sort_values(by='Deaths', ascending=False).head(10)

,Country,Confirmed,Deaths,Recovered,Active,Combined_Key
1943,US,201051,21415,0,179636,"New York City, New York, US"
600,US,75306,3519,0,71787,"Cook, Illinois, US"
2877,US,20059,2410,0,17649,"Wayne, Michigan, US"
1607,US,49860,2241,0,47619,"Los Angeles, California, US"
1922,US,40140,2114,0,38026,"Nassau, New York, US"
2561,US,39359,1871,0,37488,"Suffolk, New York, US"
833,US,17542,1636,0,15880,"Essex, New Jersey, US"
1799,US,20857,1564,0,19293,"Middlesex, Massachusetts, US"
181,US,18217,1553,0,16605,"Bergen, New Jersey, US"
2903,US,33293,1357,0,31936,"Westchester, New York, US"

In [18]:
df[df.Country == 'Brazil'].sort_values(by='Deaths', ascending=False).head(10)

     Country  Confirmed  Deaths  Recovered  Active            Combined_Key
3280  Brazil      95865    6980          0   88885       Sao Paulo, Brazil
3263  Brazil      44886    4856          0   40030  Rio de Janeiro, Brazil
3083  Brazil      37821    2733          0   35088           Ceara, Brazil
3237  Brazil      33699    2704          0   30995            Para, Brazil
3241  Brazil      30713    2566          0   28147      Pernambuco, Brazil
3025  Brazil      36146    1964          0   34182        Amazonas, Brazil
3183  Brazil      27979     887          0   27092        Maranhao, Brazil
3049  Brazil      15963     570          0   15393           Bahia, Brazil
3106  Brazil      12203     538          0   11665  Espirito Santo, Brazil
3022  Brazil       8055     385          0    7670         Alagoas, Brazil