In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set_style('darkgrid')

In [3]:
path = '../../data/03-23-2021.csv'

In [4]:
df = pd.read_csv(path)

In [5]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-24 05:25:40,33.93911,67.709953,56177,2466,49752.0,3959.0,Afghanistan,144.308744,4.389697
1,NaN,NaN,NaN,Albania,2021-03-24 05:25:40,41.15330,20.168300,121847,2156,86497.0,33194.0,Albania,4234.032942,1.769432
2,NaN,NaN,NaN,Algeria,2021-03-24 05:25:40,28.03390,1.659600,116349,3066,80981.0,32302.0,Algeria,265.327783,2.635175
3,NaN,NaN,NaN,Andorra,2021-03-24 05:25:40,42.50630,1.521800,11591,113,11050.0,428.0,Andorra,15001.617809,0.974894
4,NaN,NaN,NaN,Angola,2021-03-24 05:25:40,-11.20270,17.873900,21774,530,20099.0,1145.0,Angola,66.250297,2.434096

In [6]:
df.drop(['FIPS', 'Admin2', 'Province_State', 'Last_Update'], axis=1, inplace=True)

In [7]:
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,33.93911,67.709953,56177,2466,49752.0,3959.0,Afghanistan,144.308744,4.389697
1,Albania,41.15330,20.168300,121847,2156,86497.0,33194.0,Albania,4234.032942,1.769432
2,Algeria,28.03390,1.659600,116349,3066,80981.0,32302.0,Algeria,265.327783,2.635175
3,Andorra,42.50630,1.521800,11591,113,11050.0,428.0,Andorra,15001.617809,0.974894
4,Angola,-11.20270,17.873900,21774,530,20099.0,1145.0,Angola,66.250297,2.434096

In [8]:
df.rename(columns={'Country_Region': 'Country', 'Lat': 'Latitude', 'Long_': 'Longitude'}, inplace=True)

In [9]:
df.head()

,Country,Latitude,Longitude,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,33.93911,67.709953,56177,2466,49752.0,3959.0,Afghanistan,144.308744,4.389697
1,Albania,41.15330,20.168300,121847,2156,86497.0,33194.0,Albania,4234.032942,1.769432
2,Algeria,28.03390,1.659600,116349,3066,80981.0,32302.0,Algeria,265.327783,2.635175
3,Andorra,42.50630,1.521800,11591,113,11050.0,428.0,Andorra,15001.617809,0.974894
4,Angola,-11.20270,17.873900,21774,530,20099.0,1145.0,Angola,66.250297,2.434096

In [10]:
df.drop(['Latitude', 'Longitude', 'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio'], axis=1, inplace=True)

In [11]:
df.head(10)

               Country  Confirmed  Deaths  Recovered    Active
0          Afghanistan      56177    2466    49752.0    3959.0
1              Albania     121847    2156    86497.0   33194.0
2              Algeria     116349    3066    80981.0   32302.0
3              Andorra      11591     113    11050.0     428.0
4               Angola      21774     530    20099.0    1145.0
5  Antigua and Barbuda       1080      28      715.0     337.0
6            Argentina    2261577   54823  2043957.0  162797.0
7              Armenia     185020    3384   169172.0   12464.0
8            Australia        123       3      117.0       3.0
9            Australia       5273      54        0.0    5219.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4003 entries, 0 to 4002
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    4003 non-null   object
 1   Confirmed  4003 non-null   int64
 2   Deaths     4003 non-null   int64
 3   Recovered  728 non-null    float64
 4   Active     724 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 156.5+ KB

In [13]:
df.isnull().sum()

Country         0
Confirmed       0
Deaths          0
Recovered    3275
Active       3279
dtype: int64

In [14]:
df[df.Country == 'Brazil'].head(10)

   Country  Confirmed  Deaths  Recovered    Active
41  Brazil      66290    1201    53030.0   12059.0
42  Brazil     148422    3378   140287.0    4757.0
43  Brazil      93111    1243    70828.0   21040.0
44  Brazil     340785   11836   290051.0   38898.0
45  Brazil     774491   14357   744732.0   15402.0
46  Brazil     511170   13048   358886.0  139236.0
47  Brazil     332153    5503   308446.0   18204.0
48  Brazil     363685    7044   339150.0   17491.0
49  Brazil     457483   10583   437890.0    9010.0
50  Brazil     235646    5759   215142.0   14745.0

In [15]:
df[df.Country == 'US'].head(10)

    Country  Confirmed  Deaths  Recovered  Active
651      US       6525      99        NaN     NaN
652      US      20354     297        NaN     NaN
653      US       2213      54        NaN     NaN
654      US       2530      58        NaN     NaN
655      US       6388     130        NaN     NaN
656      US       1195      39        NaN     NaN
657      US       2073      66        NaN     NaN
658      US      14162     304        NaN     NaN
659      US       3470     114        NaN     NaN
660      US       1794      42        NaN     NaN

In [16]:
df[df.Country == 'Canada'].head(10)

   Country  Confirmed  Deaths  Recovered  Active
76  Canada     142855    1971   134653.0  6231.0
77  Canada      93253    1438    86307.0  5508.0
78  Canada          0       1        0.0     NaN
79  Canada         13       0       13.0     0.0
80  Canada      33511     929    31335.0  1247.0
81  Canada       1505      30     1418.0    57.0
82  Canada       1014       6     1002.0     6.0
83  Canada         47       0       46.0     1.0
84  Canada       1691      66     1604.0    21.0
85  Canada        395       4      391.0     0.0

In [27]:
# compare the data in the US and Canada
df[df.Country == 'US' and df.Country == 'Canada'].head(10)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().