In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set_style('darkgrid')

In [3]:
path = '../../data/03-23-2021.csv'

In [4]:
df = pd.read_csv(path)

In [5]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-24 05:25:40,33.93911,67.709953,56177,2466,49752.0,3959.0,Afghanistan,144.308744,4.389697
1,NaN,NaN,NaN,Albania,2021-03-24 05:25:40,41.15330,20.168300,121847,2156,86497.0,33194.0,Albania,4234.032942,1.769432
2,NaN,NaN,NaN,Algeria,2021-03-24 05:25:40,28.03390,1.659600,116349,3066,80981.0,32302.0,Algeria,265.327783,2.635175
3,NaN,NaN,NaN,Andorra,2021-03-24 05:25:40,42.50630,1.521800,11591,113,11050.0,428.0,Andorra,15001.617809,0.974894
4,NaN,NaN,NaN,Angola,2021-03-24 05:25:40,-11.20270,17.873900,21774,530,20099.0,1145.0,Angola,66.250297,2.434096

In [6]:
df.drop(['FIPS', 'Admin2', 'Province_State', 'Last_Update'], axis=1, inplace=True)

In [7]:
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,33.93911,67.709953,56177,2466,49752.0,3959.0,Afghanistan,144.308744,4.389697
1,Albania,41.15330,20.168300,121847,2156,86497.0,33194.0,Albania,4234.032942,1.769432
2,Algeria,28.03390,1.659600,116349,3066,80981.0,32302.0,Algeria,265.327783,2.635175
3,Andorra,42.50630,1.521800,11591,113,11050.0,428.0,Andorra,15001.617809,0.974894
4,Angola,-11.20270,17.873900,21774,530,20099.0,1145.0,Angola,66.250297,2.434096

In [8]:
df.rename(columns={'Country_Region': 'Country', 'Lat': 'Latitude', 'Long_': 'Longitude'}, inplace=True)

In [9]:
df.head()

,Country,Latitude,Longitude,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,33.93911,67.709953,56177,2466,49752.0,3959.0,Afghanistan,144.308744,4.389697
1,Albania,41.15330,20.168300,121847,2156,86497.0,33194.0,Albania,4234.032942,1.769432
2,Algeria,28.03390,1.659600,116349,3066,80981.0,32302.0,Algeria,265.327783,2.635175
3,Andorra,42.50630,1.521800,11591,113,11050.0,428.0,Andorra,15001.617809,0.974894
4,Angola,-11.20270,17.873900,21774,530,20099.0,1145.0,Angola,66.250297,2.434096

In [10]:
df.drop(['Latitude', 'Longitude', 'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio'], axis=1, inplace=True)

In [11]:
df.head(10)

               Country  Confirmed  Deaths  Recovered    Active
0          Afghanistan      56177    2466    49752.0    3959.0
1              Albania     121847    2156    86497.0   33194.0
2              Algeria     116349    3066    80981.0   32302.0
3              Andorra      11591     113    11050.0     428.0
4               Angola      21774     530    20099.0    1145.0
5  Antigua and Barbuda       1080      28      715.0     337.0
6            Argentina    2261577   54823  2043957.0  162797.0
7              Armenia     185020    3384   169172.0   12464.0
8            Australia        123       3      117.0       3.0
9            Australia       5273      54        0.0    5219.0