In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("darkgrid")

In [3]:
path = '../../data/07-05-2021.csv'

In [4]:
df = pd.read_csv(path)

In [5]:
df.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-07-06 04:21:32,33.93911,67.709953,125937,5283,75314.0,45340.0,Afghanistan,323.509805,4.194955
1,NaN,NaN,NaN,Albania,2021-07-06 04:21:32,41.15330,20.168300,132537,2456,130029.0,52.0,Albania,4605.497255,1.853067
2,NaN,NaN,NaN,Algeria,2021-07-06 04:21:32,28.03390,1.659600,141966,3765,98748.0,39453.0,Algeria,323.746005,2.652043
3,NaN,NaN,NaN,Andorra,2021-07-06 04:21:32,42.50630,1.521800,13918,127,13721.0,70.0,Andorra,18013.330745,0.912487
4,NaN,NaN,NaN,Angola,2021-07-06 04:21:32,-11.20270,17.873900,39300,915,33739.0,4646.0,Angola,119.575487,2.328244
5,NaN,NaN,NaN,Antigua and Barbuda,2021-07-06 04:21:32,17.06080,-61.796400,1264,42,1222.0,0.0,Antigua and Barbuda,1290.744220,3.322785
6,NaN,NaN,NaN,Argentina,2021-07-06 04:21:32,-38.41610,-63.616700,4552750,96521,4175856.0,280373.0,Argentina,10073.396902,2.120059
7,NaN,NaN,NaN,Armenia,2021-07-06 04:21:32,40.06910,45.038200,225606,4527,217198.0,3881.0,Armenia,7613.506055,2.006596
8,NaN,NaN,Australian Capital Territory,Australia,2021-07-06 04:21:32,-35.47350,149.012400,124,3,121.0,0.0,"Australian Capital Territory, Australia",28.965195,2.419355
9,NaN,NaN,New South Wales,Australia,2021-07-06 04:21:32,-33.86880,151.209300,5997,54,0.0,5943.0,"New South Wales, Australia",73.872875,0.900450

In [6]:
df.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio'],
      dtype='object')

In [8]:
df.drop(['FIPS', 'Admin2', 'Last_Update', 'Lat', 'Long_', 'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio'], axis=1, inplace=True)

In [9]:
df.head()

  Province_State Country_Region  Confirmed  Deaths  Recovered   Active
0            NaN    Afghanistan     125937    5283    75314.0  45340.0
1            NaN        Albania     132537    2456   130029.0     52.0
2            NaN        Algeria     141966    3765    98748.0  39453.0
3            NaN        Andorra      13918     127    13721.0     70.0
4            NaN         Angola      39300     915    33739.0   4646.0